body {
    background-color: rgb(222, 244, 247);
}

img:hover {
    opacity: 0.4;
}

img {
    border-radius: 3px;
}

.square {
    width: 400px;
    height: 350px;
}

section:nth-child(2) img {
    filter: grayscale(100);
    width: 200px;
    height: 200px;
}

.menu {
    width: 100%;
    list-style: none;
    text-decoration: none;
    }

.menu li {
    margin-left: 10px;
    float: left;
}

.menu ul li {
    list-style: none;
    float: none;
}

.menu a {
    text-decoration: none;
    background-color: rgb(146, 247, 216);
    text-align: center;
}

.menu a:hover {
    background-color: rgb(161, 188, 238);
    color: rgb(78, 104, 219);
}