img:hover {
    opacity: 0.4;
}

img {
    border-radius: 3px;
}

.carré {
    width: 400px;
    height: 350px;
}

section:nth-child(2) img {
    filter: grayscale(100);
    width: 200px;
    height: 200px;
}